@font-face {
    font-family: 'BreezeSans';
    src: url('../ttf/BreezeSans.ttf') format('truetype');
}

html {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

body {
    zoom: 100%;
    margin: 0;
    padding: 5px 1rem 4rem 1rem;
    background-image: url("../images/Background.png");
}

img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.buttons button {
    position: relative;
    width: 23rem;
    height: 5.5rem;
    margin: 1rem 2rem;
    padding: 0;
    border: none;
    background-color: #B4AE9A;
    box-shadow: 1px 2px 3px 3px #7e796b;
    border-bottom: 2rem #343127;
    transition: all .2s;
}

.buttons button:hover {
    transform: scale(1.1);
}

.buttons button:before {
    transition: .2s all;
    background-image: url("../images/overlayButtons.png");
    background-size: contain;
    opacity: 0;
}

.buttons button:hover:after {
    opacity: 1;
}

.buttons p {
    display: inline-block;
    font-size: 3.25rem;
    margin-bottom: 0;
    font-family: BreezeSans, sans-serif;
    color: #343127;
}

.buttons button img {
    float: left;
    width: 5rem;
    height: 5rem;
    padding: 0.3rem;
    margin-left: 0.4rem;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #6A6555;
    width: 100%;
    height: 4rem;
    font-weight: bolder;
}

.footer p {
    text-align: center;
    color: #B4AE9A;
    margin: 0;
    padding: 0;
    font-size: 0.75rem;
    font-family: BreezeSans, sans-serif;
}

.sideBut {
    display: grid;
    position: relative;
    top: 2rem;
    width: 22%;
    height: 100%;
}

.language {
    display: flex;
    align-items: center;
    width: 20rem;
}

.language p {
    display: inline-block;
    color: #B4AE9A;
    font-size: 1rem;
    font-family: BreezeSans, sans-serif;
    margin: 0.75rem;
}

.thanks {
    margin-left: 0.75rem;
}

.sideBut button {
    background: #B4AE9A linear-gradient(to left, #B4AE9A 50%, #4E4B42 50%) right bottom;
    background-size: 200% 100%;
    transition: all 0.4s ease;
    animation-fill-mode: both;
    width: 99.9%;
    min-width: 16rem;
    border: none;
    margin: 1rem;
    border-left: 0.5rem solid #4E4B42;
    box-shadow: 1px 2px 3px 3px #7e796b;
    padding-bottom: 0;
    padding-top: 0;
    height: 3rem;
    color: #4E4B42;
    font-family: BreezeSans, sans-serif;
    font-size: 2rem;
    font-weight: bolder;
    text-align: left;
}

.sideBut button:hover {
    background-position: left bottom;
}

#YoRHa, .button .en {
    background: #4E4B42 linear-gradient(to left, #4E4B42 50%, #B4AE9A 50%) right bottom;
    background-size: 200% 100%;
    transition: all 0.4s ease;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sideStyle {
    float: left;
    width: 0.2rem;
    height: 100%;
    border-right: 0.1rem solid #4E4B42;
    margin-right: 0.5rem;
}

.rightBlock {
    display: flex;
    flex-wrap: wrap;
    background-color: #B4AE9A;
    box-shadow: 1px 2px 3px 3px #7e796b;
    margin: 3rem 5rem;
    padding: 1.5rem;
}

.Designs .rightBlock, .Videos .rightBlock, .Editing .rightBlock {
    justify-content: space-evenly;
}

#firstPart {
    display: inline-block;
    color: #4E4B42;
    font-family: BreezeSans, sans-serif;
    font-size: 1.5rem;
}

.rightBlock p {
    display: inline;
    float: left;
    margin-bottom: 0.25rem;
    font-size: 1.4rem;
}

.infoAboutMe {
    width: 78%;
    display: inline-block;
    float: right;
}

#logoAboutMe {
    display: inline-block;
    float: right;
    shape-outside: border-box;
    background-clip: content-box;
    width: 10rem;
}

.wrap {
    display: flex;
    position: relative;
}

.hoverButton {
    position: absolute;
    width: 22%;
    height: 100%;
}

.contactRow {
    color: #4E4B42;
    font-family: BreezeSans, sans-serif;
    font-size: 2rem;
    font-weight: bolder;
    margin-left: 2rem;
}

#email p {
    align-items: center;
    color: #B4AE9A;
    font-family: BreezeSans, sans-serif;
    font-size: 0.9rem;
    font-weight: bolder;
    margin-right: 1rem;
}

.contactRow img {
    width: 2rem;
    margin-right: 1rem;
}
.contactRowFooter{
  color: #4E4B42;
  font-family: BreezeSans, sans-serif;
  font-size: 2rem;
  font-weight: bolder;
}
.contactRowFooter img {
    width: 2rem;
    margin-right: 1rem;
}

.footer .contactRow img {
    width: 1.5rem;
    float: left;
    margin-right: 1rem;
}

.contactRow a {
    text-decoration: none;
    color: #B4AE9A;
}

.contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.rightBlock a {
    text-decoration: none;
    color: #4E4B42;
    font-family: BreezeSans, sans-serif;
    font-size: 2rem;
    font-weight: bolder;
}

.rightBlock h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #4E4B42;
    font-family: BreezeSans, sans-serif;
    font-weight: bolder;
}

.rightBlock a:hover {
    color: #343127;
}

.collabWrap {
    display: inline-flex;
    flex-flow: row wrap;
}

.collab {
    width: 50%;

    padding: 1rem;
}

.collab img {
    display: block;
    width: 8rem;
    height: 8rem;
    margin-left: auto;
    margin-right: auto;
}

.collab h2 {
    text-align: center;
    color: #4E4B42;
    box-shadow: 1px 2px 3px 3px #7e796b;
    padding: 0.5rem;
    font-size: 3rem;
}

.collab a img {
    display: inline-block;
    width: 4rem;
    height: 4rem;
}

.show {
    display: none;
}

.links {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* Videos */

.scrolldiv {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    max-height: 40rem;
    justify-content: space-evenly;
    margin: 2rem;
    flex-wrap: wrap;
    overflow: auto;
    overflow-x: hidden;
    background-color: #B4AE9A;
    box-shadow: 1px 2px 3px 3px #7e796b;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #343127;
}

::-webkit-scrollbar-button {
    background: #343127;
    height: 0.35rem;
}

.video {
    display: flex;
    justify-content: center;
    width: 25rem;
    padding: 1.5rem 1.5rem 0 1.5rem;
}

.video img {
    width: 100%;
}

.video a {
    text-align: center;
    text-decoration: none;
}

.video a:hover
p {
    color: #343127;
}

.video p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    box-shadow: 1px 2px 3px 3px #7e796b;
    padding: 0.75rem;
    margin-top: 16px;
    height: 9rem;
    color: #4E4B42;
    font-family: BreezeSans, sans-serif;
    font-size: 1.5rem;
    font-weight: bolder;
}

.text img {
    position: relative;
    top: -4rem;
    float: right;
    margin-right: 1rem;
}

.video sub {
    display: block;
    margin-top: 1rem;
    bottom: 0;
}

.video .text img {
    display: block;
    width: 2rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 26px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #B4AE9A;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: #6A6555;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #343127;
}

input:focus + .slider {
    box-shadow: 0 0 1px #B4AE9A;
}

input:checked + .slider:before {
    -webkit-transform: translateX(34px);
    -ms-transform: translateX(34px);
    transform: translateX(34px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.highlight {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lavori h1, .mobileContacts h1, .mobileHead h1, .mobileCollab h1, .mobileCredits h1, #contacts h1, #specialThx h1, .mobileSupportMe h1, .rightBlock h1, .collabdiv h1 {
    position: relative;
    background-color: #4E4B42;
    box-shadow: 1px 2px 3px 3px #7e796b;
    margin: 0.8rem auto 1rem auto;
    text-align: center;
    width: 97%;
    height: 4rem;
    color: #B4AE9A;
    font-family: BreezeSans, sans-serif;
    font-weight: bolder;
    padding: 0.25rem 0;
    font-size: 3rem;
}

#supportMe {
    margin: 1rem auto;
}

.lavori {
    width: 100%;
    max-height: 37rem;
    overflow: auto;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.AboutMe .lavori .video {
    width: 44%;
}

#drawings .video {
    width: 25rem;
    height: auto;
}

.Videos .video, .Designs .video {
    width: 50%;
    height: 36rem;
}

.spacing {
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
}

.collabdiv {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-height: 37rem;
    overflow: auto;
    overflow-x: hidden;
}

.lavori button {
    background-color: transparent;
    border: none;
    font-family: BreezeSans, sans-serif;
    font-size: 2rem;
    font-weight: bolder;
    color: #4E4B42;
    width: 100%;
    padding: 1rem 0.5rem;
}

.more {
    width: 92%;
    margin: 1.5rem;
    box-shadow: 1px 2px 3px 3px #7e796b;
}

.more:hover {
    color: #343127;
}

#works, #aboutMe {
    display: none;
}

.logo {
    background-color: #B4AE9A;
}

#banner {
    width: 50rem;
    background-color: #B4AE9A;
    padding: 1rem;
}

.mobile {
    display: none;
    justify-content: center;
    margin-top: 2rem;
}

.mobileContacts, .mobileSupportMe {
    box-shadow: 1px 2px 3px 3px #7e796b;
    background-color: #B4AE9A;
    padding: 1rem;
    margin-top: 3rem;
}

.imageContacts {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}

.imageContacts img {
    width: 5rem;
    margin: 0 1rem;
}

.mobileHead {
    display: none;
    width: 100%;
}

.mobileCollab, .mobileImage, .mobileCredits {
    display: none;
}

.rightBlock h3 {
    width: 100%;
    font-size: 1.9rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #4E4B42;
    font-family: BreezeSans, sans-serif;
    font-weight: bolder;
    margin-left: 2rem;
}

.rightBlock li a, .mobileCredits li a {
    font-family: BreezeSans, sans-serif;
    color: #343127;
    text-decoration: underline;
}

.rightBlock li {
    margin-bottom: 0.5rem;
}

.rightBlock li a:hover {
    color: #6A6555;
    font-weight: bolder;
}

#upTop {
    background-color: transparent;
    border: none;
    outline: none;
    display: none;
    position: fixed;
    bottom: 11rem;
    right: -0.7rem;
    opacity: 0.75;
}

#upTop img {
    width: 5rem;
}

#contacts {
    flex-direction: column;
}

.moreAbout {
    display: none;
    position: absolute;
    bottom: 5%;
    left: 5%;
    right: 5%;
    font-size: 1.5rem;
    background-color: #6A6555;
    padding: 0.5em;
    box-shadow: 1px 2px 3px 3px #7e796b;
}

.triangle-down {
    display: inline;
    position: absolute;
    bottom: 5%;
    left: 5%;
    right: 5%;
    width: 0;
    height: 0;
    border-left: 0.75rem solid transparent;
    border-right: 0.75rem solid transparent;
    border-bottom: 1.5rem solid #6A6555;
}

.popup {
    position: relative;
}

.links a:hover
.moreAbout {
    display: block;
}

.overlay-right img, .overlay-left img {
    width: 4rem;
}

.overlay-left {
    position: absolute;
    top: 0;
    left: 0;
}

.overlay-right {
    position: absolute;
    bottom: 0;
    right: 0;
}

.overlay-right img {
    transform: rotate(180deg);
}

.hovering:hover {
    background-position: left bottom;
}

.notHovering:hover {
    background-position: right bottom;
}

@media only screen and (max-width: 1770px) {
    .buttons {
        zoom: 85%;
    }
}

@media only screen and (max-width: 1505px) {
    .buttons {
        zoom: 75%;
    }

    .rightBlock {
        margin: 3rem 5rem 2rem 5rem;
    }
}

@media only screen and (max-width: 1400px) {
    .buttons {
        zoom: 60%;
    }

    #default {
        zoom: 85%;
    }

    @media only screen and (min-height: 600px) {

    }
}

/* Mobile */
@media only screen and (max-width: 1100px) {
    body {
        zoom: 100%;
        padding-bottom: 100px;
    }

    .buttons {
        zoom: 100%;
    }

    #default {
        zoom: 100%;
    }

    .lavori {
        background-color: #B4AE9A;
        max-height: none;
        padding: 1rem;
        box-shadow: 1px 2px 3px 3px #7e796b;
    }

    .mobile {
        display: flex;
        flex-direction: column;
    }

    .works, .sideBut, .highlight h2 {
        display: none;
    }

    .footer {
        height: 100px;
    }

    #works, #aboutMe, .mobileCredits {
        display: block;
    }

    header button {
        width: 50%;
    }

    .mobileHead, .mobileImage {
        display: block;
    }

    .infoAboutMe {
        width: 100%;
    }

    .mobile .lavori .highlight img {
        width: 22rem;
    }

    #logoAboutMe {
        width: 20rem;
    }

    .rightBlock #logoAboutMe, #welcome {
        display: none;
    }

    .rightBlock #firstPart {
        width: 100%;
    }

    .rightBlock {
        margin: 3rem 0;
    }

    .mobileCollab, .mobileCredits {
        display: block;
        padding: 1rem;
        background-color: #B4AE9A;
        box-shadow: 1px 2px 3px 3px #7e796b;
        margin: 3rem 0;
    }

    .mobileCollab .highlight img {
        width: 5rem;
        display: inline-block;
        margin: 0.5rem 0;
    }

    .mobileCollab p {
        display: flex;
        align-items: center;
        margin: 0;
    }

    .highlight {
        display: flex;
        justify-content: center;
    }

    .mobileCollab .highlight {
        flex-direction: column;
        margin-top: 1rem;
    }

    .mobileCollab .wrap {
        font-family: BreezeSans, sans-serif;
        color: #343127;
        font-weight: bolder;
        font-size: 3rem;
    }

    .linkCollab {
        justify-content: space-evenly;
        display: flex;
        width: 100%;
    }

    .linkCollab a {
        margin: 0.5rem;
        font-family: BreezeSans, sans-serif;
        color: #4E4B42;
        font-weight: bolder;
        font-size: 1.25rem;
    }

    .linkCollab a:hover {
        color: #343127;
    }


    .footer-center, .contacts, #email {
        display: none;
    }

    .mobileButton {
        display: flex;
        align-items: center;
        margin-right: 0.5rem;
    }

    .mobileButton img {
        width: 4rem;
        margin: 1rem;
    }

    .language p {
        font-size: 2rem;
    }

    .switch {
        width: 75px;
        height: 40px;
    }

    .slider:before {
        height: 32px;
        width: 32px;
    }

    .scrolldiv {
        max-height: initial;
    }

    .banner {
        background-color: #B4AE9A;
        display: flex;
        justify-content: center;
        margin-bottom: 3rem;
        box-shadow: 1px 2px 3px 3px #7e796b;
    }

    .mobileCredits h2, .mobileCredits li {
        font-family: BreezeSans, sans-serif;
        font-weight: bold;
        color: #4E4B42;
    }

    .mobileCredits h2 {
        font-size: 2.5rem;
        margin-top: 1rem;
    }

    .mobileCredits li {
        font-size: 2rem;
    }

    .mobileCredits .highlight {
        flex-direction: column;
    }

    .buttons button {
        margin: 1rem;
    }

    .video {
        width: 50%;
    }

    .video img {
        width: 100%;
    }

    .video p {
        font-size: 1.5rem;
    }

    .rightBlock {
        padding: 1rem;
    }

    #firstPart {
        font-size: 2em;
    }

    .buttons button:hover {
        transform: scale(1);
        background-image: none;
    }

    .infoAboutMe .rightBlock .lavori {
        box-shadow: initial;
    }
}
