@font-face {
    font-family: 'BreezeSans';
    src: url('../ttf/BreezeSans.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 5px 1em 4em 1em;
    background-image: url("../images/Background.png");
    zoom: 2;
    -moz-transform: scale(2);/* Firefox */
    -moz-transform-origin: 0 0;
    -o-transform: scale(2);/* Opera */
    -o-transform-origin: 0 0;
    -webkit-transform: scale(2);/* Safari */
    -webkit-transform-origin: 0 0;
    transform: scale(2);
    transform-origin: 0 0;
}

img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.buttons button {
    width: 23em;
    height: 5.5em;
    margin: 1em 2em;
    padding: 0;
    border: none;
    background-color: #B4AE9A;
    box-shadow: 0.25em 0.25em 1em 0.15em #0B0B0B;
    border-bottom: 2em #343127;
}

.buttons button:hover
.underline {
    display: block;
}

.underline {
    display: none;
    position: relative;
    left: 0;
    bottom: -1px;
    height: 0.5em;
    width: 100%;
    background-color: #343127;
    padding: 0 5px;
}

.buttons p {
    display: inline-block;
    font-size: 3.25em;
    margin-bottom: 0px;
    font-family: BreezeSans, sans-serif;
    color: #343127;
}

.buttons button img {
    float: left;
    width: 5em;
    height: 5em;
    padding: 0.3em;
    margin-left: 0.4em;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #6A6555;
    width: 100%;
    height: 4em;
    font-weight: bolder;
}

.footer p {
    text-align: center;
    color: #B4AE9A;
    margin: 0;
    padding: 0;
    font-size: 0.75em;
    font-family: BreezeSans, sans-serif;
}

.sideBut {
    display: grid;
    position: relative;
    top: 7em;
    width: 22%;
    height: 15em;
}

.language {
    display: flex;
    align-items: center;
}

.language p {
    display: inline-block;
    color: #B4AE9A;
    font-size: 1em;
    font-family: BreezeSans, sans-serif;
    margin: 0.75em;
}

.thanks {
    margin-left: 0.75em;
}

.sideBut button {
    background-color: #B4AE9A;
    min-width: 16em;
    border: none;
    margin: 1em;
    border-left: 0.5em solid #4E4B42;
    box-shadow: 0.25em 0.25em 1em 0.15em #0B0B0B;
    padding-bottom: 0;
    padding-top: 0;
    height: 3em;
    color: #4E4B42;
    font-family: BreezeSans, sans-serif;
    font-size: 2em;
    font-weight: bolder;
    text-align: left;
}

.sideStyle {
    float: left;
    width: 0.2em;
    height: 100%;
    border-right: 0.1em solid #4E4B42;
    margin-right: 0.5em;
}

.rightBlock {
    display: flex;
    flex-wrap: wrap;
    background-color: #B4AE9A;
    box-shadow: 0.25em 0.25em 1em 0.15em #0B0B0B;
    margin: 3em 5em;
    padding: 1.5em;
}

#firstPart {
    display: inline-block;
    color: #4E4B42;
    font-family: BreezeSans, sans-serif;
    font-size: 1.5em;
}

.rightBlock p {
    display: inline;
    float: left;
    margin-bottom: 0.25em;
    font-size: 1.4em;
}

.infoAboutMe {
    width: 78%;
    display: inline-block;
    float: right;
}

#logoAboutMe {
    display: inline-block;
    float: right;
    shape-outside: border-box;
    background-clip: content-box;
    width: 10em;
}

.wrap {
    display: flex;
}

.contactRow {
    color: #4E4B42;
    font-family: BreezeSans, sans-serif;
    font-size: 2em;
    font-weight: bolder;
}

#email p {
    align-items: center;
    color: #B4AE9A;
    font-family: BreezeSans, sans-serif;
    font-size: 0.9em;
    font-weight: bolder;
    margin-right: 1em;
}

.contactRow img {
    width: 2em;
    margin-right: 1em;
}

.footer .contactRow img {
    width: 1.5em;
    float: left;
    margin-right: 1em;
}

.contactRow a {
    text-decoration: none;
    color: #B4AE9A;
}

.contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.rightBlock a {
    text-decoration: none;
    color: #4E4B42;
    font-family: BreezeSans, sans-serif;
    font-size: 2em;
    font-weight: bolder;
}

.rightBlock h2 {
    margin-top: 1em;
    margin-bottom: 1em;
    color: #4E4B42;
    font-family: BreezeSans, sans-serif;
    font-weight: bolder;
}

.rightBlock a:hover {
    color: #343127;
}

.collabWrap {
    display: inline-flex;
    flex-flow: row wrap;
}

.collab {
    width: 50%;
    padding: 1em;
}

.collab img {
    display: block;
    width: 8em;
    height: 8em;
    margin-left: auto;
    margin-right: auto;
}

.collab h2 {
    text-align: center;
    color: #4E4B42;
    box-shadow: 0.25em 0.25em 1em 0.15em #0b0b0b;
    padding: 0.5em;
    font-size: 3em;
}

.collab a img {
    display: inline-block;
    width: 4em;
    height: 4em;
}

.show {
    display: none;
}

.links {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* Videos */

.scrolldiv {
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    max-height: 40em;
    justify-content: space-evenly;
    margin: 2em;
    flex-wrap: wrap;
    overflow: auto;
    overflow-x: hidden;
    background-color: #B4AE9A;
    box-shadow: 0.25em 0.25em 1em 0.15em #0B0B0B;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #343127;
}

::-webkit-scrollbar-button {
    background: #343127;
    height: 0.35em;
}

.video {
    display: flex;
    justify-content: center;
    width: 36em;
    padding: 1.5em;
}

.video img {
    width: 27em;
}

.video a {
    text-align: center;
    text-decoration: none;
}

.video a:hover
p {
    color: #343127;
}

.video p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0.25em 0.25em 1em 0.15em #0B0B0B;
    padding: 0.75em;
    margin-top: 16px;
    height: 9em;
    color: #4E4B42;
    font-family: BreezeSans, sans-serif;
    font-size: 1.5em;
    font-weight: bolder;
}

.text img {
    position: relative;
    top: -4em;
    float: right;
    margin-right: 1em;
}

.video sub {
    display: block;
    margin-top: 1em;
}

.video .text img {
    display: block;
    width: 2em;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 26px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #B4AE9A;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: #6A6555;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #343127;
}

input:focus + .slider {
    box-shadow: 0 0 1px #B4AE9A;
}

input:checked + .slider:before {
    -webkit-transform: translateX(34px);
    -ms-transform: translateX(34px);
    transform: translateX(34px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.highlight {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lavori h1, .mobileContacts h1, .mobileHead h1, .mobileCollab h1, .mobileCredits h1 {
    background-color: #4E4B42;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0.5em;
    text-align: center;
    color: #B4AE9A;
    font-family: BreezeSans, sans-serif;
    font-weight: bolder;
    padding: 0.25em 0;
    font-size: 3em;
}

.lavori {
    width: 100%;
    max-height: 37em;
    overflow: auto;
    overflow-x: hidden;
}

.lavori button {
    background-color: transparent;
    border: none;
    font-family: BreezeSans, sans-serif;
    font-size: 2em;
    font-weight: bolder;
    color: #4E4B42;
    width: 100%;
    padding: 1em 0.5em;
}

.more {
    display: flex;
    justify-content: center;
    margin: 1.5em;
    box-shadow: 0.25em 0.25em 1em 0.15em #0B0B0B;
}

.more:hover {
    color: #343127;
}

#works, #aboutMe {
    display: none;
}

.logo {
    background-color: #B4AE9A;
}

#banner {
    width: 50em;
    background-color: #B4AE9A;
    padding: 1em;
}

.mobile {
    display: none;
    justify-content: center;
    margin-top: 2em;
}

.mobileContacts {
    box-shadow: 0.25em 0.25em 1em 0.15em #0B0B0B;
    background-color: #B4AE9A;
    padding: 1em;
    margin-top: 2em;
}

.imageContacts {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1em;
}

.imageContacts img {
    width: 5em;
    margin: 0 1em;
}

.mobileHead {
    display: none;
    width: 100%;
}

.mobileCollab, .mobileImage, .mobileCredits {
    display: none;
}

.rightBlock h3 {
    width: 100%;
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #4E4B42;
    font-family: BreezeSans, sans-serif;
    font-weight: bolder;
}

.rightBlock li a, .mobileCredits li a {
    font-family: BreezeSans, sans-serif;
    color: #343127;
    text-decoration: underline;
}

.rightBlock li {
    margin-bottom: 0.5em;
}

.rightBlock li a:hover {
    color: #6A6555;
    font-weight: bolder;
}

/* Mobile */
@media only screen and (max-width: 1100px) {
    body {
        padding-bottom: 100px;
    }

    .lavori {
        background-color: #B4AE9A;
        max-height: none;
        padding: 1em;
        box-shadow: 0.25em 0.25em 1em 0.15em #0B0B0B;
    }

    .mobile {
        display: flex;
        flex-direction: column;
    }

    .works, .sideBut {
        display: none;
    }

    .footer {
        height: 100px;
    }

    #works, #aboutMe, .mobileCredits {
        display: block;
    }

    header button {
        width: 50%;
    }

    .mobileHead, .mobileImage {
        display: block;
    }

    .infoAboutMe {
        width: 100%;
    }

    .mobile .lavori img {
        width: 22em;
    }

    #logoAboutMe {
        width: 20em;
    }

    .rightBlock #logoAboutMe {
        display: none;
    }

    .rightBlock #firstPart{
        width: 100%;
    }

    .rightBlock {
        margin: 2em 0;
    }

    .mobileCollab, .mobileCredits {
        display: block;
        padding: 1em;
        background-color: #B4AE9A;
        box-shadow: 0.25em 0.25em 1em 0.15em #0B0B0B;
        margin: 2em 0;
    }

    .mobileCollab img {
        width: 5em;
        display: inline-block;
        margin: 0.5em 0;
    }

    .mobileCollab p {
        display: flex;
        align-items: center;
        margin: 0;
    }

    .highlight {
        display: flex;
        justify-content: center;
    }

    .mobileCollab .highlight {
        flex-direction: column;
        margin-top: 1em;
    }

    .mobileCollab .wrap {
        font-family: BreezeSans, sans-serif;
        color: #343127;
        font-weight: bolder;
        font-size: 3em;
    }

    .linkCollab {
        justify-content: space-evenly;
        display: flex;
        width: 100%;
    }

    .linkCollab a {
        margin: 0.5em;
        font-family: BreezeSans, sans-serif;
        color: #4E4B42;
        font-weight: bolder;
        font-size: 1.25em;
    }

    .linkCollab a:hover {
        color: #343127;
    }


    .footer-center, .contacts, #email {
        display: none;
    }

    .mobileButton {
        display: flex;
        align-items: center;
        margin-right: 0.5em;
    }

    .mobileButton img {
        width: 4em;
        margin: 1em;
    }

    .language p {
        font-size: 2em;
    }

    .switch {
        width: 75px;
        height: 40px;
    }

    .slider:before {
        height: 32px;
        width: 32px;
    }

    .scrolldiv {
        max-height: initial;
    }

    .banner {
        background-color: #B4AE9A;
        display: flex;
        justify-content: center;
        margin-bottom: 2em;
        box-shadow: 0.25em 0.25em 1em 0.15em #0b0b0b;
    }

    .mobileCredits h2, .mobileCredits li {
        font-family: BreezeSans, sans-serif;
        font-weight: bold;
        color: #4E4B42;
    }

    .mobileCredits h2 {
        font-size: 2.5em;
        margin-top: 1em;
    }

    .mobileCredits li {
        font-size: 2em;
    }

    .mobileCredits .highlight {
        flex-direction: column;
    }

    .buttons button {
        margin: 1em;
    }

    .video img {
        width: 44em;
    }

    .video p {
        font-size: 2em;
    }

    .rightBlock {
        padding: 1em;
    }

    #firstPart {
        font-size: 2em;
    }
}